# Archives
**/*.zip
**/*.7z
**/*.rar
**/*.tar
**/*.gz

# Intermidiate compilation steps, executables
**/*.out
**/*.o
**/*.so
**/*.exe
**/*.gch

# Data files
**/*.csv
**/*.dat
**/*.json
**/*.bin
**/*.txt

# Debugger files
**/build

# IDE-s
.vscode/**