# Archives
**/*.zip
**/*.7z
**/*.rar
**/*.tar
**/*.gz


# Intermidiate compilation steps, executables
objects
**/*.out
**/*.exe
**/build


# Data files
**/*.csv
**/*.dat
**/*.json
**/*.bin


# кроме файла с примером
!sample.bin
